html,
body {
  overflow-x: hidden;
}
.banner {
  background-image: url("../../../images/Banner/doctor-with-co-workers-analyzing-x-ray_1098-581.png"),
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  height: 1000px;
  width: 100%;
  background-blend-mode: darken;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 0px;
}
.title {
  /* margin-top: -300px; */
  color: black;
  font-weight: bold;
  font-size: 70px;
}

.about-btn {
  border: 3px solid #62b7d3;
  outline: none;
  font-size: large;
  font-weight: 700;
  padding: 17px 34px;
  color: #47bee5;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.about-btn:hover {
  background-color: #62b7d3;
  color: white;
}

@media only screen and (max-width: 688px) {
  .banner {
    background-attachment: none;
    width: 100%;
  }
}
